* { box-sizing: border-box; }
html, textarea, button { color: #333; font-size: 16px; line-height: 1.5; font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif; }
label { display: block; margin: 0.5em 0; }
textarea { display: block; width: 100%; min-height: 5em; margin-bottom: 1em; resize: vertical; border: 1px solid #ddd; border-radius: 2px; }
body { background-color: #fff; width: 92%; max-width: 1200px; margin: 0 auto; }
fieldset { border: none; padding: 1em 0 0; }
.tac { text-align: center; }
.tar { text-align: right; }
.hide { position: absolute; clip: rect(0 0 0 0); top: 0; }
.bt { display: inline-block; padding: 1em 3em; margin-bottom: 0; font-size: 14px; font-weight: 400; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-image: none; border: 1px solid transparent; border-radius: 4px; transition: 0.3s; color: #333; background-color: #fff; border-color: #ccc; }
.bt + .bt { margin-left: 10px; }
.bt-primary { color: #fff; background-color: #337ab7; border-color: #2e6da4; }
.bt-success { color: #fff; background-color: #5cb85c; border-color: #4cae4c; }
.bt-info { color: #fff; background-color: #5bc0de; border-color: #46b8da; }
.bt:hover { opacity: 0.8; }
.bt:active { transform: scale(0.95); }
.bt-tpls { display: table; table-layout: fixed; text-align: center; margin: 0 auto; border-radius: 4px; overflow: hidden; width: 80%; white-space: nowrap; }
.bt-tpls label { display: table-cell; padding: 2em 0; color: #fff; transition: 0.3s; cursor: pointer; }
.bt-tpls label:hover { opacity: 0.6; }
.bt-tpls label strong { font-weight: normal; }
.bt-tpls ._json { background-color: #395C7B; }
.bt-tpls ._html { background-color: #0F3F6B; }
.page { display: none; }
.page._on { display: block; }
.bt-wrap { padding: 1em; margin-top: 1em; }
#jsonForm { margin-bottom: 1em; }
#outArea { min-height: 10em; }